<div class="form-group mb-4">
	<label for="designation">Designation</label>
	<div class="input-group">
		<span class="input-group-text" id="basic-addon1">
			<i class="fa-solid fa-pen-to-square"></i>
		</span>
		<input type="text" name="designation" class="form-control" placeholder="Designation" id="designation" autofocus required>
	</div>
</div>
<div class="form-group mb-4">
	<label for="abreviation">Abreviation</label>
	<div class="input-group">
		<span class="input-group-text" id="basic-addon1">
			<i class="fa-solid fa-pen-to-square"></i>
		</span>
		<input type="text" name="abreviation" class="form-control" placeholder="Abreviation" id="abreviation">
	</div>
</div>