{% extends 'base.html.twig' %}

{# {% block title %}JDB - Paramétre - User{% endblock %} #}


{% block body %}

	{% include 'includes/actions.html.twig' %}
	<div class="col-12 mb-4">
		<div class="card border-0 shadow">
			<div class="card-body p-2 m-2">
				<table id="list_users" class="table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							<th><input type="checkbox" id="checkall"/></th>
							<th>Username</th>
							<th>Nom</th>
							<th>Prenom</th>
							<th>E-mail</th>
							<th>Roles</th>
							<th>Status</th>
							{# <th></th> #}
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	{% include 'administrateur/parametre/user/modals/ajouter.html.twig' %}
	{% include 'administrateur/parametre/user/modals/privilege.html.twig' with {'modules': modules}%}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('parametre_user') }}
{% endblock %}
