<footer class="bg-body-tertiary text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            &copy; Copyright 2024: Tous droits réservés ,<span class="text-body font-weight-bold"> MTSI SOLUTION</span>
        </div>
</footer>